[submodule "files/.vim/bundle/FuzzyFinder"]
	path = files/.vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git 
[submodule "files/.vim/bundle/L9"]
	path = files/.vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git 
