[alias]
    review-web   = !git-push-for --to adrien.frediani@intersec.com --to romain.legodais@intersec.com
    review-tools = !git-push-for --to jonathan.squirawski@intersec.com --to florent.bruneau@intersec.com

    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

    a   = add
    au  = add -u .
    ap  = add -p

    br  = branch

    c   = commit
    cm  = commit -m
    ca  = commit --amend
    caa = commit -a --amend
    cv  = commit --verbose

    ch  = cherry-pick

    co  = checkout
    cop = checkout -p

    df  = diff
    dt  = difftool
    dtg = difftool -t gvimdiff
    dfc = diff --cached
    dfw = diff --color-words

    gr  = grep -n --untracked --heading --break -e

    fe  = fetch

    files = show --pretty="format:" --name-only

    lc   = log --pretty=oneline --decorate=full --stat --no-merges ORIG_HEAD..
    lg   = log -p
    logp = log --pretty=oneline --decorate=full -20

    ls  = ls-files

    p   = pull

    rb  = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase -i

    mt  = mergetool -t vimdiff
    mtg = mergetool -t gvimdiff

    st  = status
    sta = status --ignored

    su  = submodule update
    sui = submodule update --init

    undo    = reset HEAD^
    unstash = stash apply

    who = shortlog -s --

    x = push

    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

    find   = "!f() { git ls-files | ack-grep $1 ; }; f"

    jshint = "!git status -uno -s | cut -f3 -d' ' | ack-grep '.js$' | xargs jshint"
    jsfix  = "!f() { git ls-files | xargs jshint | cut -d':' -f1 | sort -u | xargs ; }; vim `f`"
[branch]
    autosetuprebase = always
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[color "branch"]
    current = magenta
    local = cyan
    remote = green
[color "decorate"]
    branch = cyan
    remoteBranch = green
    tag = magenta
    HEAD = magenta
[color "diff"]
    meta = blue
    frag = green
    old = red
    new = green
[color "grep"]
    match = yellow
[color "status"]
    header = blue
    added = green
    changed = yellow
    untracked = yellow bold
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[github]
    user = jtheoof
[mergetool "sublime"]
    cmd = sublime -w $MERGED
    trustExitCode = false
[merge]
    tool = sublime
[push]
    default = tracking
[user]
    name = Jeremy Attali
    email = jeremy.attali@gmail.com
[grep]
    extendedRegexp = true
