[alias]
	review-web   = !git-push-for --to frediani --to lopez --to mougnot --to dezitter --to nottret --to mariat --to boulle
	review-tools = !git-push-for --to squirawski --to bruneau

	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

	a   = add
	au  = add -u .
	ap  = add -p

	br  = branch
	bra = branch -a

	c   = commit
	cm  = commit -m
	ca  = commit --amend
	cam = commit -am
	caa = commit -a --amend
	cv  = commit --verbose

	ch  = cherry-pick
	cha = cherry-pick --abort

	co  = checkout
	cop = checkout -p

	count = !git log --pretty=format:'' | wc -l

	df  = diff
	dfs = diff --staged
	dft = difftool
	dtg = difftool -t gvimdiff
	dfc = diff --cached
	dfw = diff --color-words

	gr  = grep -n -I -i --break -e

	fe  = fetch

	files = show --pretty="format:" --name-only

	lc   = log --pretty=oneline --decorate=full --stat --no-merges ORIG_HEAD..
	lg   = log -p
	logp = log --pretty=oneline --decorate=full -20
	ll   = log --pretty="format:%h %cn %s" --decorate=full -20

	ls  = status

	p   = pull

	rb  = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbs = rebase --skip
	rbi = rebase -i

	rv = revert

	mt  = mergetool -t vimdiff
	mtg = mergetool -t gvimdiff

	st  = status -sb
	sta = status --ignored

	su  = submodule update
	sui = submodule update --init
	sur = submodule update --recursive

	undo    = reset HEAD^
	unstash = stash apply

	who = shortlog -s --

	x = push

	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
	add-unmerged  = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

	jshint = "!git status -uno -s | cut -f3 -d' ' | ack-grep '.js$' | xargs jshint"
	jsfix  = "!f() { git ls-files | xargs jshint | cut -d':' -f1 | sort -u | xargs ; }; vim `f`"
[branch]
	autosetuprebase = always
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[color "branch"]
	current = magenta
	local = cyan
	remote = cyan
[color "decorate"]
	branch = cyan
	remoteBranch = green
	tag = magenta
	HEAD = magenta
[color "diff"]
	meta = blue
	frag = yellow
	old = red
	new = green
[color "grep"]
	match = yellow
	filename = cyan
[color "status"]
	header = blue
	added = green
	changed = red bold
	untracked = yellow
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[github]
	user = jtheoof
[mergetool "sublime"]
	cmd = sublime -w $MERGED
	trustExitCode = false
[merge]
	tool = vimdiff
[push]
	default = tracking
[user]
	name = Jeremy Attali
	email = jeremy.attali@gmail.com
[grep]
	extendedRegexp = true
# vim: noet ts=4
