set clipboard=unnamedplus

nnoremap <Leader>si :source ~/.ideavimrc<CR>

" Search
nnoremap ]q :action NextOccurence<CR>
nnoremap [q :action PreviousOccurence<CR>

" Navigation
nnoremap <C-Left> :action PrevSplitter<CR>
nnoremap <C-Right> :action NextSplitter<CR>
nnoremap <C-Up> :action VimWindowUp<CR>
nnoremap <C-Down> :action VimWindowDown<CR>
