nnoremap <Leader>si :source ~/.ideavimrc<CR>

" Search
nnoremap ]q :action NextOccurence<CR>
nnoremap [q :action PreviousOccurence<CR>

" Navigation
nnoremap <M-Left> :action VimWindowLeft<CR>
nnoremap <M-Right> :action VimWindowRight<CR>
nnoremap <M-Up> :action VimWindowUp<CR>
nnoremap <M-Down> :action VimWindowDown<CR>
