"*":
  editor:
    tabLength: 4
    invisibles: {}
    preferredLineLength: 100
    fontSize: 12
  core:
    audioBeep: false
    projectHome: "~/dev"
    disabledPackages: [
      "minimap"
    ]
  "exception-reporting":
    userId: "c0191c2d-2e42-2a6b-6160-e625d859884b"
  welcome:
    showOnStartup: false
  metrics:
    userId: "6057499fffdb4ebd3e00447b9d5cfd4601f733bb"
  autosave:
    enabled: true
  "atom-beautify":
    _analyticsUserId: "f69d1bc0-5295-4402-bdb7-d293c000e4f0"
    html_wrap_attributes: "force"
    analytics: false
  linter:
    lintOnChange: false
    clearOnChange: true
    showInfoMessages: true
    statusBar: "Show all errors"
    lintDebug: true
    showErrorPanel: false
    lintOnFly: false
  "one-dark-ui":
    layoutMode: "Compact"
  "tree-view":
    hideIgnoredNames: true
  "atom-fuzzy-grep":
    preserveLastSearch: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "file-explorer": {}
  "git-blame-plus": {}
  "git-blame": {}
  "linter-jscs":
    messageType: "warning"
    executablePath: "/usr/local/bin"
    onlyConfig: true
  minimap: {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "atom-typescript": {}
  jumpy: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  docblockr: {}
  emmet: {}
  "fuzzy-finder":
    useAlternateScoring: true
  "autocomplete-plus":
    useAlternateScoring: true
  "vim-surround": {}
  "markdown-preview": {}
".source.ts.tsx":
  editor:
    preferredLineLength: 100
".source.ts":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
