"*":
  "atom-beautify":
    general:
      _analyticsUserId: "f69d1bc0-5295-4402-bdb7-d293c000e4f0"
      analytics: false
    html:
      wrap_attributes: "force"
  "atom-fuzzy-grep":
    preserveLastSearch: true
  "atom-material-ui":
    colors:
      abaseColor:
        red: 47
        green: 128
        blue: 152
        alpha: 1
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
  "atom-typescript": {}
  "autocomplete-plus":
    useAlternateScoring: true
  autosave:
    enabled: true
  "color-picker":
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    audioBeep: false
    disabledPackages: [
      "atom-fuzzy-grep"
      "git-history"
      "jumpy"
      "linter-jscs"
      "linter-jshint"
      "linter-tslint"
      "minimap"
      "pretty-json"
      "tool-bar-main"
    ]
    packagesWithKeymapsDisabled: [
      "git-time-machine"
    ]
    projectHome: "~/dev"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    showInvisibles: true
    tabLength: 4
  emmet: {}
  "exception-reporting":
    userId: "c0191c2d-2e42-2a6b-6160-e625d859884b"
  "file-explorer": {}
  "file-icons": {}
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "fuzzy-finder":
    useAlternateScoring: true
  "git-blame": {}
  "git-blame-plus": {}
  jumpy: {}
  linter:
    clearOnChange: true
    lintDebug: true
    lintOnChange: false
    lintOnFly: false
    showInfoMessages: true
    statusBar: "Show all errors"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jscs":
    executablePath: "/usr/local/bin"
    messageType: "warning"
    onlyConfig: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "markdown-preview": {}
  metrics:
    userId: "6057499fffdb4ebd3e00447b9d5cfd4601f733bb"
  minimap: {}
  "one-dark-ui":
    layoutMode: "Compact"
  "symbols-tree-view": {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    preferredLineLength: 100
".diff.source":
  editor:
    preferredLineLength: 100
".source.ts":
  editor:
    preferredLineLength: 100
".source.ts.tsx":
  editor:
    preferredLineLength: 100
".source.tsx":
  editor:
    preferredLineLength: 100
