# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.tree-view':
  'cmd-right': 'tree-view:toggle-focus'

'atom-text-editor.vim-mode.normal-mode':
  # 'shift-y': 'editor:copy-to-end-of-line'
  'cmd-up': 'window:focus-pane-above'
  'cmd-down': 'window:focus-pane-below'
  'cmd-right': 'window:focus-pane-on-right'
  'cmd-left': 'window:focus-pane-on-left'
  'g f': 'open-this:here'

'.fuzzy-finder atom-text-editor[mini]':
  'cmd-|': 'pane:split-right'
  'cmd-\\': 'pane:split-down'

'atom-text-editor:not(.mini).vim-mode:not(.insert-mode):not(.jumpy-jump-mode)':
  '-': 'file-explorer:toggle-current-directory'
  'f': 'jumpy:toggle'
