# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js':
    'Copyright':
        'prefix': 'copyright'
        'body': """
        /*
         * ---------------------------------------------------------------------------
         *
         * COPYRIGHT (c) 2015 Mnubo Inc. All Rights Reserved.
         *
         * The copyright to the computer program(s) herein is the property of Mnubo
         * Inc. The program(s) may be used and/or copied only with the written
         * permission from Mnubo Inc. or in accordance with the terms and conditions
         * stipulated in the agreement/contract under which the program(s) have been
         * supplied.
         *
         * ---------------------------------------------------------------------------
         */


        """

    'Mnubo Spec':
        'prefix': 'mnspec'
        'body': """
        'use strict';

         describe('mnubo.$1', function() {
             var _;

             beforeEach(angular.mock.module('mnubo.$1'));

             beforeEach(function() {
                 angular.module('mnubo.common.layoutManager').service('appService', function() {
                     this.init = angular.noop;
                 });
             });

             beforeEach(angular.mock.inject(function(___) {
                 _ = ___;
             }));

             $2
         });
        """

    'spec describe':
        'prefix': 'desc'
        'body': """
         describe('$1', function() {
             $2
         });
        """

    'spec test':
        'prefix': 'it'
        'body': """
         it('should $1', function() {
             $2
         });
        """
