# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.source.js, .source.less':
    'Copyright':
        'prefix': 'copyright'
        'body': """
        /*
         * ---------------------------------------------------------------------------
         *
         * COPYRIGHT (c) 2016 Mnubo Inc. All Rights Reserved.
         *
         * The copyright to the computer program(s) herein is the property of Mnubo
         * Inc. The program(s) may be used and/or copied only with the written
         * permission from Mnubo Inc. or in accordance with the terms and conditions
         * stipulated in the agreement/contract under which the program(s) have been
         * supplied.
         *
         * ---------------------------------------------------------------------------
         */


        """

'.source.js':
    'Mnubo Spec':
        'prefix': 'mnspec'
        'body': """
        'use strict';

        describe('mnubo.$1', function() {
            var _;

            beforeEach(angular.mock.module('mnubo.$1'));

            beforeEach(function() {
                angular.module('mnubo.common.layoutManager').service('appService', function() {
                    this.init = angular.noop;
                });
            });

            beforeEach(angular.mock.inject(function(___) {
                _ = ___;
            }));

            $2
        });
        """

    'AngularJS Module':
        'prefix': 'ng-module'
        'body': """
        /**
         * @module $1
         */
        (function(angular) {
            'use strict';

            angular
                .module('$1', [
                    $2
                ])
                .config(config)
                .run(run);

            /**
             * @ngInject
             */
            function config() { }

            /**
             * @ngInject
             */
            function run() { }
        })(angular);
        """

    'AngularJS Controller':
        'prefix': 'ng-controller'
        'body': """
        export class $1 {
            /**
             * @ngInject
             */
            constructor() {}

            $onInit() {}
        }
        """

    'AngularJS Factory':
        'prefix': 'ng-factory'
        'body': """
        /**
         * @module ${1:Module}
         */
        (function(angular) {
            'use strict';

            angular
                .module('$1')
                .factory('$2', $2);

            /**
             * @class
             * @name ${2:Name}
             * @ngInject
             */
            function $2() { $0 }
        })(angular);
        """

    'AngularJS Constant':
        'prefix': 'ng-constant'
        'body': """
        /**
         * @module ${1:Module}
         */
        (function(angular) {
            'use strict';

            /**
             * @constant
             * @name ${2:Constant}
             */
            angular
                .module('$1')
                .constant('$2', $0);
        })(angular);
        """

    'AngularJS Directive':
        'prefix': 'ng-directive'
        'body': """
        import template from './${1:directive}.html!text';

        /**
         * @ngInject
         */
        export function $1() {
            return {
                restrict: 'E',
                template: template,
                replace: true,
                scope: false
            };
        }$0
        """

    'AngularJS Component':
        'prefix': 'ng-component'
        'body': """
        import template from './$1.html!text';

        export const ${1:component} = {
            bindings: {$2},
            template: template,
            controller: function() {
                $0
            },
            controllersAs: 'vm',
        };
        """

    'AngularJS Service':
        'prefix': 'ng-service'
        'body': """
        /**
         * @module ${1:Module}
         */
        (function(angular) {
            'use strict';

            angular
                .module('$1')
                .service('$2', $2);

            /**
             * @service
             * @name ${2:Service}
             * @ngInject
             */
            function $2() {
                $0
            }
        })(angular);
        """

    'spec describe':
        'prefix': 'desc'
        'body': """
         describe('$1', function() {
             $2
         });
        """

    'spec test':
        'prefix': 'it'
        'body': """
         it('should $1', function() {
             $2
         });
        """

'.text.html':
    'mnubo tooltip':
        'prefix': 'tooltip'
        'body': """
        <i class="fa fa-info-circle tooltip-info"
           uib-tooltip="{{ '$0' | translate }}">
        </i>
        """
