# Ignore every bundle except static
bufexplorer.zip/
ctrlp.vim/
nerdtree/
supertab/
syntastic/
tagbar/
terminalkeys.vim/
ultisnips/
vim-colors-solarized/
vim-commentary/
vim-fugitive/
vim-javascript/
vim-jsbeautify/
vim-less/
vim-markdown/
vim-repeat/
vim-surround/
vim-unimpaired/
zencoding-vim/
