# Ignore every bundle except static
bufexplorer.zip/
ctrlp.vim/
nerdtree/
supertab/
syntastic/
tagbar/
vim-colors-solarized/
vim-commentary/
vim-fugitive/
vim-jsbeautify/
vim-markdown/
vim-pathogen/
vim-repeat/
vim-surround/
zencoding-vim/
