[alias]
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
    amend = commit -s --amend
    br = branch
    ci = commit
    co = checkout
    df = diff
    dfw = diff --color-words
    gr = grep --full-name -n
    k = !gitk
    lc = log --pretty=oneline --decorate=full --stat --no-merges ORIG_HEAD..
    lg = log -p
    logp = log --pretty=oneline --decorate=full -20
    post-review = push-for
    squash = commit -s --amend -C HEAD
    st = status
    undo = reset HEAD^
    unstash = stash apply
    who = shortlog -s --
[branch]
    autosetuprebase = always
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[color "status"]
    header = bold blue
    added = bold green
    changed = bold red
    untracked = bold yellow
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[github]
    user = jtheoof
[merge]
    verbosity = 1
    conflictstyle = diff3
[push]
    default = tracking
[user]
    name = Jeremy Attali
    email = jeremy.attali@gmail.com
